* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 10px;
    text-align: center;
    color: gold;
    width: 100%;
    background-repeat: no-repeat;
} 

.bioImage {
    border-radius: 50%;
    float: left;
    display: block;
    margin:10px;
    width:100px;
    height:120px;
    background-repeat: no-repeat;
  }

  .titleBackImage {
    float: left;
    width: 90%;
    height: 120px;
  }

  /* Column container */
