/* general */
.ghost {
  visibility: hidden;
}
* {
    box-sizing: border-box;
  }
  .jumbotron {
    background-color: #3B5998;

  }
  body {
      width: 100%;
      background-color: #3B5998;
  }
  /* h5 {
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 0px;
    height: 40px;
    text-align: center;
  } */
  #boxbtnStart {
    height: 0px;
    background-color:#007bb5;
  }
  /* # project3 {
    background-color: aliceblue;
  }
  .col-md-10{
    display: block;
    margin: 0 auto;
  } */
  /* img {
    width: 150px;
    height: 150px;
  } */
  .bioImage {
    border-radius: 50%;
    float: left;
    width: 10%10%;
    height: 120px;
    margin: 5px;
    padding: 5px 0px 10px 0px;
  }
  .mySlides {
    top: 100%;
    float: left;
    width: 100%;
    height: 160px;
    margin: 0px;
    
   }
  #boxMenu {
    float: left;
    font-size: 14px;
    padding: 0px;
    height: 265px;
    background-color:#9da1a3;
  }
    #boxAbout {
    font-size: 14px;
    padding: 10px;
    height: 265px;
    background-color:#9da1a3;
  }
  /* #boxProjects {
    float: left;
    padding: 10px;
    height: 500px;
    text-align: center;
    background-color:#9da1a3;
    width: 100%;
  } */
 .btn start {
   text-align: center;
   padding: 0px 0px;
 } 
 
/* ------ Menu--------*/ 
.sidenav {
  display: flex;
  background-color: #333;
  padding: 10px;
  margin: 0px;
}

.sidenav a {
  color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

.sidenav a:hover {
  color: #064579;
}

/*----------------------------*/
#headProject {
  padding: 5px;
}

.row {
  padding: 0px 5px 10px 10px;
}
/*----------Social Media----- */
.icon-bar {
  pad: 0px;
}
.icon-bar a {
  display: block;
  text-align: centerr;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}

.github {
  background: #3e5058;
  color: black;
}

.facebook {
background: #3B5998;
color: white;
}

.twitter {
background: #55ACEE;
color: white;
}

.google {
background: #dd4b39;
color: white;
}

.linkedin {
background: #007bb5;
color: white;
}

.youtube {
background: #bb0000;
color: white;
}

.content {
margin-left: 0px;
font-size: 30px;
}

/*------Slide Show--------*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

