/* general */
* {
    box-sizing: border-box;
  }
  .jumbotron {
    background-color: rgb(145, 145, 123);
    color: blue;
    background: url("assets/images/images.jpg");
    height: 300px;
  }
  body {
      background-image: url("../images/starsSky.jpg");
      width: 100%;
  }
  #boxbtnStart {
    height: 50px;
    background-color:blue;
  }
  img {
    width: 320px;
    height: 280px;
  }
  #boxMenu {
    float: left;
    font-size: 14px;
    padding: 0px;
    height: 400px;
    background-color:whitesmoke;
  }
  #boxAbout {
    font-size: 14px;
    padding: 10px;
    height: 400px;
    background-color:whitesmoke;
  }
  #boxProjects {
    float: left;
    padding: 10px;
    height: 400px;
    text-align: center;
    background-color:whitesmoke;
    width: 100%;
  }
 .btn start {
   text-align: center;
   padding: 0px 0px;
 } 
 #box1 {
   width: 100%;
   height: 280px;
 }
 #box2 {
  width: 100%;
}
#box3 {
  width: 100%;
}
#box4 {
  width: 100%;
}
#box5 {
  width: 100%;
}
/* ------ Menu--------*/ 
.sidenav {
  width: 150px;
  /* position: fixed; */
  z-index: 1;
  top: 100px;
  left: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  margin: 10px;
}

.sidenav a {
  padding: 0px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #2196F3;
  display: block;
  margin: 15px;
}

.sidenav a:hover {
  color: #064579;
}
/*----------Social Media----- */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-bar a {
  display: block;
  text-align: centerr;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
background: #3B5998;
color: white;
}

.twitter {
background: #55ACEE;
color: white;
}

.google {
background: #dd4b39;
color: white;
}

.linkedin {
background: #007bb5;
color: white;
}

.youtube {
background: #bb0000;
color: white;
}

.content {
margin-left: 75px;
font-size: 30px;
}
  
